body {
  background: linear-gradient(
    90deg,
    rgba(238, 174, 185, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.search-form {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);

  gap: 15px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
}

.search-form input {
  padding: 10px 20px;
  width: 400px;
  font-size: 20px;
  color: #777777;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  line-height: 1.35;
  border: none;
  outline: none;
}

.search-form button,
.load-more {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 80px;
  font-size: 20px;
  color: #777777;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  outline: none;
}

.load-more {
  display: block;
  margin: 0 auto;
  width: 160px;
  padding: 10px 10px;
  margin-bottom: 20px;
}
.container {
  width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.gallery {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.photo-card {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  overflow: hidden;
  flex-basis: calc((100% - 20px * 3) / 4);
}

.photo-card__img {
  width: 100%;
  height: 212px;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;

  overflow: hidden;
  transition: box-shadow 350ms ease-in-out;
}
.info {
  flex-wrap: wrap;
  display: flex;
  gap: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding: 10px;
}
.info-item {
  flex-basis: calc((100% - 25px) / 2);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  display: flex;
}
